html {
    font-size: 20px;
    background-color:rgba(100,100,100,.3);
    text-align: center;
}

div:nth-child(odd) {
    color: blue;
    font-size: 2rem;
}
div:nth-child(1n) {
 text-transform: uppercase;
}
div:nth-child(4) ~ div:nth-child(1n) {
 text-transform: lowercase;
}
div:nth-child(even) {
    color: red;
}
div {
    letter-spacing: 10px;
    line-height: 3rem;
}

